@import 'utilities.css' ; 
:root{
    --primary : #a48f4b ;
    --dark : #161616 ; 
    --pure : #FFFFFF ; 
    --ternary : #898989 ; 
    --secondary: #070606 ; 
    --light : #F2F2F2 ; 
    

}

body{
    font-family: 'Poppins' , sans-serif;
}

html{
    scroll-behavior: smooth;
}
*{
    margin:0 ; 
    padding:0 ; 
    box-sizing: border-box;
    -webkit-font-smoothing : antialiased ; 
}

header{
    background: var(--dark);
    
}

nav .left .branding{
    text-transform: uppercase;
    color:var(--pure);
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
}

nav .left .branding i{
    color : var(--primary) ; 
}

.container{
    max-width: 1152px;
    padding : 0 15px ; 
    margin : 0 auto ; 

}

header nav .left a{
    color : var(--pure) ; 
    text-decoration: none;
    margin-right: 2rem;
    text-transform : uppercase ; 
    transition:all .3s ease ; 
}

header nav .left a:hover{
    color : var(--primary) ; 
}

header nav{
    padding : 2rem 0 ; 
}

header nav .branding{
    margin-right: 3rem;
}

.myphoto .left img{
    width : 700px ;
    position : relative ; 
    right : 200px ; 
}

.myphoto .right {
    color : var(--pure) ;

}

.myphoto .right h6 {
    font-size: 1.6rem ;
    color:var(--primary) ; 
    margin-bottom: 0.5rem;

}

.myphoto .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.myphoto .right h1 span{
    color: var(--primary);
}

.myphoto .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section{
    padding : 6rem 0; 

}

section.about .about-me-img{
    height: 350px ;
    
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color : var(--primary) ; 
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p{
    font-family: 'Lato' , sans-serif;
    color: var(--ternary);
    line-height: 1.9;
}

section.about .social{
    display: flex;
}

section.about .social a{
   margin : 10px ;
   padding : 2rem 0 ;
}

.section-heading{
    color: var(--secondary);
    text-align: center ; 
    margin-bottom: 1rem;
    line-height:0.5 ; 
    
}

.section-heading span{
    color:var(--primary) ; 
}

.section-heading +p{
    color: var(--ternary);
    font-family: 'Lato' , sans-serif;
    margin-bottom: 1rem;
    text-align:center ; 
    margin-bottom : 8rem ; 
}

section.services{
    background: var(--light);
}

section.services .sec-wrap{
    display:grid ; 
    grid-template-columns : 1fr 1fr ; 
    grid-column-gap : 2rem ; 
    padding-top:6rem ; 
}

section.services .sec-wrap .sec{
    background: var(--pure);
    padding : 3rem 2rem ; 
    position:relative ; 
    padding-top:5rem ; 
    text-align: center;
    transition : all .3s ease ; 
}

/* remove it if causes problem */
section.services .sec-wrap .sec img{
    position:absolute ; 
    top : -3.5rem ; 
    left : 40% ; 
}

section.services .sec-wrap .sec h2{
   font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

section.services .sec-wrap .sec p{
    font-family: 'Lato' , sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.services .sec-wrap .sec:hover{
    background: var(--primary);
}

section.services .sec-wrap .sec:hover a{
    color: var(--pure);
    text-decoration: none;
}

section.services .sec-wrap a{
    color: var(--dark);
    text-decoration: none;
}

section.services .sec-wrap .sec:hover p{
    color: var(--pure);
}

section.services .sec-wrap .sec:hover h3{
    color: var(--pure);
}

section.Jobhunting{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/about.jpg);
    color:var(--pure);
    padding-bottom: 14rem ;
}
   

section.Jobhunting h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.Jobhunting h1 span{
    color: var(--primary);
}
section.Jobhunting p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

section.education{
    
    background: var(--light);
}

section.education .sec-wrap{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap : 2rem ; 
}

section.education .sec-wrap .sec{
    position : relative ; 
    height : 250px ; 
}

section.education .sec-wrap .sec .nameofclg{
    position : absolute ; 
    top : 0 ; 
    left : 0 ; 
    width : 100% ; 
    height : 100% ; 
    background : rgba(218, 141, 78, 0.9) ; 
    display : flex ; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--light) ; 
    opacity: 0;
    transition : all .3s ease ; 
}

section.education .sec-wrap .sec:hover .nameofclg{
    opacity: 1;
}

section.education .sec-wrap .sec .nameofclg a{
    color: rgba(228, 228, 230, 0.9);
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}

section.education .sec-wrap .sec .nameofclg span{
    font-size: 20px;
}

section.education .sec-wrap .sec img{
    height : 100% ; 
    width : 100% ; 
    
}

section.education .sec-wrap .sec .nameofclg h3{
    font-weight: 400;
}

section.projects {
    background : var(--dark) ; 
}

section.projects .section-heading{
    color:var(--pure);
}

section.projects .sec-wrap{
    display:grid ; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap : 3rem ;
}

section.projects .sec-wrap .sec{
    background : var(--pure) ; 
}

section.projects .social{
    margin : 3px ;
    float : right
}

section.projects .social a{
    margin : 3px ;
    margin-right : 10px ;
    float : right
}

section.projects .sec-wrap .sec .image-format img{
    width : 100% ; 
    height : 100% ; 
    object-fit: cover;
}

section.projects .sec-wrap .sec .project-content{
    padding : 1rem ; 
    padding-left: 2rem;
    padding-right: 2rem;
}

section.projects .sec-wrap .sec .project-content h1{
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary) ; 
}

section.projects .sec-wrap .sec .project-content h1:hover{
    color:var(--primary) ;
    cursor: pointer; 
}

section.projects .sec-wrap .sec .project-content p{
    font-family: 'Lato' , sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    
}

section.contactinfo .sec-wrap{
    display : grid ; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap : 3rem ; 
    margin-top: 8rem;
}

section.contactinfo .sec-wrap .sec{
    text-align : center ; 

}
section.contactinfo .sec-wrap .sec img { 
    margin-bottom: 2rem;

}

section.contactinfo .sec-wrap .sec h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}

section.contactinfo .sec-wrap .sec a{
    text-decoration: none;
    color:var(--dark) ; 
    font-weight: 600;
}

section.contactinfo .sec-wrap .sec a:hover{
    color : var(--primary) ; 
}

section.skills .sec-wrap{
    display : grid ; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap : 2rem ; 
    margin-top: 5rem;
}

section.skills .sec-wrap .sec{
    text-align : center ; 
}
section.skills .sec-wrap .sec img { 
    margin-bottom: 1rem;
}

section.skills .sec-wrap .sec h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
}

section.skills .sec-wrap .sec a{
    text-decoration: none;
    color:var(--dark) ; 
    font-weight: 600;
}

section.skills .sec-wrap .sec a:hover{
    color : var(--primary) ; 
}
